body {
  color: #ffffff;
  font-family: Alef;


}
main{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(261.89deg, rgba(135, 82, 160, 0.87) 0.07%, rgba(109, 101, 160, 0.91) 41.89%, rgba(82, 123, 160, 0.92) 68.99%, rgba(37, 110, 177, 0.37) 112.21%);
background-blend-mode: normal, multiply;
  background-size: 200% 200%;

  -webkit-animation: Animation 7s ease infinite;
  -moz-animation: Animation 7s ease infinite;
  animation: Animation 7s ease infinite;

}
header {
  background: rgba(196, 196, 196, 0.3);
  height: 70px;
  width: 100%;
  color: #ffffff;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.nav-bar-item {
  margin-right: 50px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

a {
  transition: 1s;
  font-size: 22px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #ffffff;


}

section, footer {
  justify-content: center;
  height: 650px;
  z-index: 2;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;

}


@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0
  }
}

@-moz-keyframes Animation {
  0% {
    background-position: 10% 0
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0
  }
}

@keyframes Animation {
  0% {
    background-position: 30% 0
  }
  50% {
    background-position: 81% 100%
  }
  100% {
    background-position: 30% 0
  }
}

.message {
  width: 300px;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 20px;

}
.message-decoration{
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 20px;
}

.message-title{
  font-size: 22px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}

.circular-arrow {
  width: 62px;
  position: relative;
  animation: down 1.5s infinite;
}

.circular-arrow::before {
  position: absolute;
  transform: rotate(-45deg);
}
.circular-arrow-position {
  text-align: center;
  margin-top: 50px;

}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

footer{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #6D65A0;

}

.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}

